body {
  color: #333;
}

.header {
  background: #6c2131;
  color: #fff;
  padding-block: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header h1 {
  margin: 0;
  font-size: 24px;
}

.content {
  width: 600px;
  margin: 0 auto;
}

.form h3 {
  font-size: 2rem;
}

.form input,
.form button {
  font-size: 1.2rem;
}

.form input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 7px;
  margin-bottom: 10px;
  width: 400px;
}

.form button {
  padding: 6px 20px;
  background: #89a223;
  border: 0;
  border-radius: 7px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.button {
  background: #bbe907;
  color: #000;
  border: 0;
  border-radius: 3px;
  font-weight: bold;
  padding: 5px 10px;
  cursor: pointer;
}

.forgot-byline {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 0.9rem;
}

.forgot-byline a {
  color: #6c2131;
}
